In [27]:
import pandas as pd
import numpy as np
s = pd.Series()
#print(s)

data = np.array([1,2,3,4])
s2 = pd.Series(data)
#print(s2)

data2 = np.array(['홍길동', '이순신', '강감찬'])
#label2 = [100,200,300]
#s3 = pd.Series(data2, label2)
s3 = pd.Series(data2, index=[0,1,2])
print(s3)
# pandas.Series(data, index, dtype, copy)

data4 = {'a' : 100, 'b' : 200, 'c' : 300}
s4 = pd.Series(data4, index=['a','c','b'])
print(s4)

data5 = [1,2,3,4]
s5 = pd.Series(data5, index = [100,101,102,103])
print(s5)

0    홍길동
1    이순신
2    강감찬
dtype: object
a    100
c    300
b    200
dtype: int64
100    1
101    2
102    3
103    4
dtype: int64

In [31]:
data6 = pd.Series([1,2,3,4], index=['a','b','c','d'])
#print(data6[0])
#print(data6['a'])
#print(data6[1:])
#print(data6[-3:])
print(data6['b'])
data6[['a','c','d']]

2

a    1
c    3
d    4
dtype: int64

In [ ]:
# pandas.Series(data, index, dtype, copy)
# pandas.DataFrame(data, index, columns, dtype, copy)
# lists, dict, Series, Numpy ndarray, ...ETC -> DataFrame

In [40]:
import pandas as pd
data = [1,2,3,4]
df = pd.DataFrame(data)
#print(df)
data2 = [['item1',1],['item2',2],['item3',3]]
np.array(data2).shape
df2 = pd.DataFrame(data2,index=['First','Second','Third'],
                   columns=['Name','Qty'])
#df2

         Name  Qty
First   item1    1
Second  item2    2
Third   item3    3

In [135]:
import pandas as pd
df = pd.read_csv("seoul.csv", encoding="utf-8")
#df.head()
#df.tail()
#df.head()
#df['날짜']
#df['지점']
#df.columns
#df.columns[0]
#df.columns[0:2]
#df.columns[4]
df.head()
df.iloc[0:5]
df.iloc[1:2]
#df['날짜']
#print(df.iloc[1:3])
#print(df[1:2])
#df['날짜']
df.iloc[0:5, 0:3]
#df.iloc[0,0]
df.iloc[[0,2,4], 0:3]
df[['날짜','지점']] # Column
#df[0:1] # Row

# df[0:1] rows slicing
# df['날짜'] column select

# integer indexing or slicing
# df.iloc[0,0] # row, column
# df.iloc[0:1, 1:2] # row, column

# index, name indexing or slicing
# df.loc[2,'날짜'] # row, column
# df.loc[[0,2,4], ['날짜','지점']]
#df.columns
#df.columns[0]
#df.columns[0:1]

df.head()
#df['최고기온(℃)']
#df2 = df['날짜'] + df['지점']

d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
     'two' : pd.Series([1,2,3,4], index=['a', 'b','c','d'])}
df2 = pd.Series(d)
df2['three'] = pd.Series([10,20,30], index=['a','b','c'])
df2

d1 = pd.DataFrame([[1,2,3],[4,5,6]], 
                  columns=['one','two','three'],
                 index=['no1','no2'])

d1['four'] = d1['one'] # add column
del d1['four'] # delete column

     one  two  three
no1    1    2      3
no2    4    5      6