In [29]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,2),
                 index=[2,1,0,3,4])
df.sort_index(ascending=False, axis=0) # default=True
df.sort_index(axis=1)

df.rename(columns={
    df.columns[0]:"col1",
    df.columns[1]:"col2"}, inplace=True)

df.sort_values(by='col1')
df.sort_values(by='col2')
df.sort_values(by=['col1', 'col2'])
df.sort_values(by=['col1', 'col2'], ascending=[True, False],
              inplace = True)
df

       col1      col2
2  0.050689 -0.231913
3  0.381994 -0.104351
4  1.111880 -0.714600
0  1.165088  0.167573
1  2.895904  1.771644

In [43]:
# Missing Data -> NA or NaN
df2 = pd.DataFrame(np.random.randn(5,3),
                  index=['a', 'c', 'e', 'f', 'h'],
                  columns=['one', 'two', 'three'])
df3 = df2.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df3.isnull()
df3['one'].isnull()
df3['one'].notnull()
df3['one'].sum()

-2.236869555188305

In [57]:
df4 = pd.DataFrame(index=[0,1,2,3,4,5],
                  columns=['one', 'two'])
#print(df4)
#print(df4.sum())
#print(df4['one'].sum())

df4.fillna(0)
df3.dropna()

        one       two     three
a -1.936663  1.304694 -2.859274
c  0.493943  0.363113  0.368374
e  0.442073  0.182133  1.424277
f -0.517114  1.481954 -0.742623
h -0.719108  0.702258 -0.791332