In [9]:
import pandas as pd
import numpy as np

data = {'Team' : ['Tom', 'John', 'John', 'Amy'],
        'Rank' : [1, 2, 2, 3],
        'Year' : [2014, 2016, 2016, 2018],
        'Point' : [10, 15, 20, 10]
       }
df = pd.DataFrame(data)
df.groupby('Team')['Point'].mean()
df.groupby('Team')['Point'].sum()
#df.groupby('Team').groups
#df2 = df.groupby('Team')
#for name, group in df2:
#    print(name, group)

Team
Amy     10
John    35
Tom     10
Name: Point, dtype: int64

In [ ]:
# Merging & Join
#pd.merge(left, right, how='inner', on=None, left_on=None,
#    right_on=None, left_index=False, 
#    right_index=False, sort=True)

In [25]:
import pandas as pd
import numpy as np

left = pd.DataFrame({
        'id' : [1, 2, 3, 4, 5],
        'Name' : ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
        'subject_id' : ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})

right= pd.DataFrame({
        'id' : [1, 2, 3, 4, 5],
        'Name' : ['Alex2', 'Amy2', 'Allen2', 'Alice2', 'Ayoung2'],
        'subject_id' : ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})
pd.merge(left, right, on='id')
pd.merge(left, right, on=['id', 'subject_id'])
pd.merge(left, right, on='subject_id')

pd.merge(left, right, on='subject_id', how="left")
pd.merge(left, right, on='subject_id', how="right")
# how = 
# left => LEFT OUTER JOIN
# right => RIGHT OUTER JOIN
# outer => FULL OUTER JOIN
# inner => INNER JOIN
pd.merge(left, right)

Empty DataFrame
Columns: [id, Name, subject_id]
Index: []