In [44]:
import pandas as pd

df = pd.DataFrame([1,2,3,4])
df.columns
df.index
df.values

df2 = pd.DataFrame([[100, 200, 300], [400,500,600]],
                  columns=['a','b','c'],
                  index=['one','two'])
df2.reindex(index=['two','one'])
df2.reindex(columns=['a','c','b'])

df2.drop(['a'], axis=1)
df2.drop(['one'], axis=0)
#df2.ix[0]

# Panel
# padas.Panel(data, items, major_axis, minor_axis, dtype)
import numpy as np
data = np.random.rand(2,4,5)
p = pd.Panel(data)

data2 = {'item1': pd.DataFrame(np.random.rand(4,3)),
        'item2': pd.DataFrame(np.random.rand(4,2))}
p2 = pd.Panel(data2)
p2

SyntaxError: invalid syntax (<ipython-input-44-c5561a72fb0c>, line 34)

In [55]:
# Statistics

import pandas as pd
d = {'Name' : pd.Series(['tom','John','Amy']),
     'Age' : pd.Series([20, 21,23]),
     'Rating' : pd.Series([4.5, 3.9, 3.4])}
df3 = pd.DataFrame(d)
df3
df3.sum()
df3.sum(axis=1)
df3.sum(1)
df3.mean()
df3.std()

df3.describe()

             Age    Rating
count   3.000000  3.000000
mean   21.333333  3.933333
std     1.527525  0.550757
min    20.000000  3.400000
25%    20.500000  3.650000
50%    21.000000  3.900000
75%    22.000000  4.200000
max    23.000000  4.500000