In [13]:
print("Hello, World Python")

Hello, World Python

In [14]:
name = "이순신"
#print(name)
name

'이순신'

In [15]:
name = input("입력해주세요.:")
print(name)

입력해주세요.:

In [16]:
name = input("이름을 입력해주세요.:")
age = input("나이를 입력해주세요.:")
print("%s, %s" % (name, age))

이름을 입력해주세요.:
나이를 입력해주세요.:
,

In [19]:
# 산술연산자
print(3 + 10)
print(3 ** 10)
print(3 % 10)
print(3 / 2)

13
59049
3
1.5

In [21]:
# 비교연산자
print(10 >= 3)
print(10 <= 3)
print(10 == 3)
print(10 != 3)
print(3 % 2 == 1)

True
False
False
True
True

In [26]:
# 논리연산자
print(1 == 1 and 2 != 1)
print(10 % 2 != 0 and 1 + 1 > 0)
print(10 % 2 != 0 or 1 + 1 > 0)
print(not True)
print(not 0)

True
False
True
False
True

In [88]:
import random
print(random.randint(1,6))

2

In [3]:
for name in [1,2,3,4]:
    print(name)

1
2
3
4

In [4]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(2,10):
    for j in range(1,10):
        #print("%d X %d = %d" % (i, j, i*j))
        pass
    
name = "john"
for s in name:
    print(s)

j
o
h
n

In [12]:
a = 0
while a < 5:
    print(a)
    a += 1 # a = a + 1

0
1
2
3
4

In [25]:
names = ['인천', '송도', '연수', '남동']
print(names)
names.append("동춘")
print(names)
print(len(names))
print(names[0], names[3])
print(names[-1])
print(names[0:3])
print(names[:])
del names[0]
print(names[:])

['인천', '송도', '연수', '남동']
['인천', '송도', '연수', '남동', '동춘']
5
인천 남동
동춘
['인천', '송도', '연수']
['인천', '송도', '연수', '남동', '동춘']
['송도', '연수', '남동', '동춘']

In [22]:
names = ("이순신", "강감찬", "권율")
#print(names[0])
#del names[0]

이순신

TypeError: 'tuple' object doesn't support item deletion

In [41]:
menus = {"카페라떼":2500, "아이스라떼":3000, "핫초코":2000}
print(menus)
print(menus['카페라떼'])

{'카페라떼': 2500, '아이스라떼': 3000, '핫초코': 2000}
2500

In [42]:
menu = input("원하는 메뉴를 입력해주세요.:")
print(menus[menu])

원하는 메뉴를 입력해주세요.:아이스라떼
3000