In [49]:
import pandas as pd
import numpy as np

#Series(1차원)

#DataFrame(2차원)
data = [1,2,3,4]
df = pd.DataFrame(data)
print(df)

data2 =[['item1',1],['item2',2],['item3',3]]
np.array(data2).shape
df2 = pd.DataFrame(data2,columns=['name','qty'], index=['First', 'Second', 'Third'] )
print(df2)

##########################################################################################
df3 = pd.read_csv("seoul.csv", encoding = "utf-8")
#df.head()
#df.tail
#df['지점']
#df.columns
#df.columns[0]
#df.columns[0:2]
#df[1:2]
#df.head()
#df.iloc[0]

####loc or iloc
#      loc or iloc을 쓰지않으면  행.열 구분 모호할 수도 있으니 사용하는 것을 추천하고, 
#      행열을 동시에 인덱싱할 수 있는 것이 특징이다.
#       iloc은 numpy의 array 인덱싱 방식으로 가져옴. 즉, 칼럼명이 아니라 index숫자로서 가져올때

print (df3.loc[2:4] ) 
print (df3.iloc[2:4] ) 
print(df3[2:4])        #row or column만 가능 / default는 row자르기

######loc과 iloc의 차이#
#print(df3[[0,2,4], 0:3])  #Error
#print(df3.loc[0:5, 0:3]) #Error
print(df3.iloc[0:5, 0:3])

#print(df3.iloc[0:5,['날짜','지점']]) #Error
print(df3.loc[0:5,['날짜','지점']]) 

print(df3.iloc[[0,2,4], 0:3])
print(df3[['날짜','지점']]) #column
print(df3[0:1])#row

   0
0  1
1  2
2  3
3  4
         name  qty
First   item1    1
Second  item2    2
Third   item3    3
1:                날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
5      1907-10-06  108     13.0     11.2     21.3
6      1907-10-07  108     11.3      6.3     16.1
7      1907-10-08  108      8.9      3.9     14.9
8      1907-10-09  108     11.6      3.8     21.1
9      1907-10-10  108     14.2      6.4     24.1
10     1907-10-11  108     15.4     10.1     20.4
11     1907-10-12  108     13.9     11.1     17.4
12     1907-10-13  108     13.8      8.3     21.3
13     1907-10-14  108     13.0      6.1     20.6
14     1907-10-15  108     13.1      5.7     20.9
15     1907-10-16  108     14.1      8.2     20.2
16     1907-10-17  108     16.4     10.3     21.6
17     1907-10-18  108     14.3      9.8     20.9
18     1907-10-19  108     13.9      6.7     21.3
19     1907-10-20  108     18.3     12.4     22.7
20     1907-10-21  108     15.2     10.7     19.9
21     1907-10-22  108     15.4     12.1     19.6
22     1907-10-23  108     13.1      8.1     16.3
23     1907-10-24  108      9.7      3.3     17.1
24     1907-10-25  108     12.7      6.2     18.7
25     1907-10-26  108     11.8      7.2     18.2
26     1907-10-27  108     14.0      7.7     20.7
27     1907-10-28  108     13.8      8.4     19.6
28     1907-10-29  108     14.3     10.7     20.0
29     1907-10-30  108     12.2      6.7     20.1
...           ...  ...      ...      ...      ...
40030  2018-07-11  108     26.8     24.4     29.5
40031  2018-07-12  108     26.6     25.1     28.2
40032  2018-07-13  108     27.3     24.7     30.9
40033  2018-07-14  108     27.9     24.6     31.9
40034  2018-07-15  108     28.3     24.5     33.2
40035  2018-07-16  108     28.7     24.0     34.0
40036  2018-07-17  108     28.1     23.9     32.1
40037  2018-07-18  108     28.2     23.7     33.2
40038  2018-07-19  108     28.7     23.2     34.1
40039  2018-07-20  108     29.5     24.6     34.7
40040  2018-07-21  108     30.6     24.9     36.9
40041  2018-07-22  108     31.8     25.3     38.0
40042  2018-07-23  108     31.7     29.2     35.7
40043  2018-07-24  108     31.4     27.2     36.8
40044  2018-07-25  108     30.1     27.7     34.1
40045  2018-07-26  108     30.1     27.3     33.7
40046  2018-07-27  108     30.9     27.2     35.4
40047  2018-07-28  108     29.5     28.0     35.2
40048  2018-07-29  108     31.3     26.4     36.7
40049  2018-07-30  108     31.7     26.2     36.9
40050  2018-07-31  108     32.6     27.8     38.3
40051  2018-08-01  108     33.6     27.8     39.6
40052  2018-08-02  108     33.7     30.3     37.9
40053  2018-08-03  108     33.1     30.0     37.9
40054  2018-08-04  108     31.1     28.0     34.9
40055  2018-08-05  108     30.0     27.2     33.9
40056  2018-08-06  108     30.5     28.3     35.3
40057  2018-08-07  108     30.5     26.8     35.9
40058  2018-08-08  108     31.0     27.6     35.3
40059  2018-08-09  108     28.8     27.1     32.5

[40060 rows x 5 columns]
           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4
           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
           날짜   지점  평균기온(℃)
0  1907-10-01  108     13.5
1  1907-10-02  108     16.2
2  1907-10-03  108     16.2
3  1907-10-04  108     16.5
4  1907-10-05  108     17.6
           날짜   지점
0  1907-10-01  108
1  1907-10-02  108
2  1907-10-03  108
3  1907-10-04  108
4  1907-10-05  108
5  1907-10-06  108
           날짜   지점  평균기온(℃)
0  1907-10-01  108     13.5
2  1907-10-03  108     16.2
4  1907-10-05  108     17.6
               날짜   지점
0      1907-10-01  108
1      1907-10-02  108
2      1907-10-03  108
3      1907-10-04  108
4      1907-10-05  108
5      1907-10-06  108
6      1907-10-07  108
7      1907-10-08  108
8      1907-10-09  108
9      1907-10-10  108
10     1907-10-11  108
11     1907-10-12  108
12     1907-10-13  108
13     1907-10-14  108
14     1907-10-15  108
15     1907-10-16  108
16     1907-10-17  108
17     1907-10-18  108
18     1907-10-19  108
19     1907-10-20  108
20     1907-10-21  108
21     1907-10-22  108
22     1907-10-23  108
23     1907-10-24  108
24     1907-10-25  108
25     1907-10-26  108
26     1907-10-27  108
27     1907-10-28  108
28     1907-10-29  108
29     1907-10-30  108
...           ...  ...
40030  2018-07-11  108
40031  2018-07-12  108
40032  2018-07-13  108
40033  2018-07-14  108
40034  2018-07-15  108
40035  2018-07-16  108
40036  2018-07-17  108
40037  2018-07-18  108
40038  2018-07-19  108
40039  2018-07-20  108
40040  2018-07-21  108
40041  2018-07-22  108
40042  2018-07-23  108
40043  2018-07-24  108
40044  2018-07-25  108
40045  2018-07-26  108
40046  2018-07-27  108
40047  2018-07-28  108
40048  2018-07-29  108
40049  2018-07-30  108
40050  2018-07-31  108
40051  2018-08-01  108
40052  2018-08-02  108
40053  2018-08-03  108
40054  2018-08-04  108
40055  2018-08-05  108
40056  2018-08-06  108
40057  2018-08-07  108
40058  2018-08-08  108
40059  2018-08-09  108

[40060 rows x 2 columns]
           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7

In [ ]:
#