In [1]:
from bs4 import BeautifulSoup
import pandas as pd

import urllib.request
import urllib.parse

url = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date=20190221'
with urllib.request.urlopen(url) as response:
    html = response.read()
    soup = BeautifulSoup(html, 'html.parser')

titles = soup.find_all("div",{"class": "tit5"})
ratings = soup.find_all("td",{"class": "point"})
#print(titles[0].a.string, ratings[0].string)
#len(titles)
data = []
for i in range(len(titles)):
    #print(titles[i].a.string, ratings[i].string)
    data.append([titles[i].a.string, ratings[i].string])

In [35]:
df = pd.DataFrame(data)
df.shape
df.head()

            0     1
0        그린 북  9.65
1        가버나움  9.59
2    보헤미안 랩소디  9.44
3         언더독  9.42
4  폴란드로 간 아이들  9.40