In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1,2,np.nan,4],[5,6,7,8]], dtype = np.float64)
df

print(df)
print("\n")
print(df.mean(axis = 0))  #defalut > skipna = True
print(df.mean(axis = 1)) #defalut > skipna = True

print(df.mean(skipna = False))
print(df.mean(skipna = True))

     0    1    2    3
0  1.0  2.0  NaN  4.0
1  5.0  6.0  7.0  8.0


0    3.0
1    4.0
2    7.0
3    6.0
dtype: float64
0    2.333333
1    6.500000
dtype: float64
0    3.0
1    4.0
2    NaN
3    6.0
dtype: float64
0    3.0
1    4.0
2    7.0
3    6.0
dtype: float64

In [30]:
##결과가 columns? 즉 열계산하면 row가 아니라 Seriese로 뽑힌다. 
df2 = df.mean(axis = 0)
print(df2)
print(type(df2))

#.T를 해줘야 row결과로 나올듯
df3 = df2.T
print(df3)
print(type(df3)) #여전히 Series... 즉, 무조건 Series가 기본단위이며 결과는 Series를 엮음것. .T는 dataFrame에서만/

0    3.0
1    4.0
2    7.0
3    6.0
dtype: float64
<class 'pandas.core.series.Series'>
0    3.0
1    4.0
2    7.0
3    6.0
dtype: float64
<class 'pandas.core.series.Series'>

In [3]:
#rename

df4 = pd.DataFrame(np.random.rand(5,3), columns = ['col1','col2','col3'])
print(df4)
df4 = df4.rename(columns = {'col1':'c1', 'col2':'c2'})
df4 = df4.rename(index = {0:'zero', 1 :'one'})
print(df4)

for i in df4 :
    print(i)

       col1      col2      col3
0  0.514605  0.491014  0.829632
1  0.653534  0.066354  0.041121
2  0.802116  0.714029  0.981703
3  0.006091  0.639053  0.460278
4  0.995161  0.020952  0.350550
            c1        c2      col3
zero  0.514605  0.491014  0.829632
one   0.653534  0.066354  0.041121
2     0.802116  0.714029  0.981703
3     0.006091  0.639053  0.460278
4     0.995161  0.020952  0.350550
c1
c2
col3

In [49]:
#Iteration\
df5 =  pd.DataFrame(np.random.rand(5,3), columns = ['col1','col2','col3'])

for col in df5:
    print(col)
    
print('###########1.tuple형태#############')
#tuple형태로 출력
for row in df5.iteritems():
    print(row)
    print(type(row[1]))
    
print('##########2.key, value##############')
for key,value in df5.iteritems():
    print(key,value)
    
print('##########3.row_index##############')
for row_index,row in df5.iteritems():
    print(row_index,row)

col1
col2
col3
###########1.tuple형태#############
('col1', 0    0.883712
1    0.591288
2    0.823905
3    0.173232
4    0.243537
Name: col1, dtype: float64)
<class 'pandas.core.series.Series'>
('col2', 0    0.530400
1    0.983913
2    0.320364
3    0.052234
4    0.903480
Name: col2, dtype: float64)
<class 'pandas.core.series.Series'>
('col3', 0    0.454920
1    0.766718
2    0.393202
3    0.977221
4    0.450027
Name: col3, dtype: float64)
<class 'pandas.core.series.Series'>
##########2.key, value##############
col1 0    0.883712
1    0.591288
2    0.823905
3    0.173232
4    0.243537
Name: col1, dtype: float64
col2 0    0.530400
1    0.983913
2    0.320364
3    0.052234
4    0.903480
Name: col2, dtype: float64
col3 0    0.454920
1    0.766718
2    0.393202
3    0.977221
4    0.450027
Name: col3, dtype: float64
##########3.row_index##############
col1 0    0.883712
1    0.591288
2    0.823905
3    0.173232
4    0.243537
Name: col1, dtype: float64
col2 0    0.530400
1    0.983913
2    0.320364
3    0.052234
4    0.903480
Name: col2, dtype: float64
col3 0    0.454920
1    0.766718
2    0.393202
3    0.977221
4    0.450027
Name: col3, dtype: float64