In [7]:
import numpy as np
import pandas as pd

data = {'Team' :['Tom', 'John', 'John','Amy']
        , 'Rank' :[1,2,3,4]
       ,'Year' : [2014,2016,2016,2017]
       , 'Point' : [10,15,20,10]
       }

df = pd.DataFrame(data)
print(df)
df.groupby('Team')['Point'].mean()
df.groupby('Team')['Point'].sum()

   Team  Rank  Year  Point
0   Tom     1  2014     10
1  John     2  2016     15
2  John     3  2016     20
3   Amy     4  2017     10

Team
Amy     10
John    35
Tom     10
Name: Point, dtype: int64

In [8]:
#Merging & Join
#pd.merge(left, right, how='inner', on = None, left_on = None, 
#         Rignt_on=None, left_index=False, right_index=False,sort=True)

#default는 inner join / how 사용해서 outer join ( left, right, outer(full), inner)

In [38]:
import pandas as pd
import numpy as np

left = pd.DataFrame({
    'id': [1,2,3,4,5]
    ,'Name' : ['Alex','Amy','Allen','Alice','Ayoung']
    , 'subject_id' : ['sub1', 'sub2', 'sub4', 'sub6' ,'sub5']
})
print( left )

right = pd.DataFrame({
    'id': [1,2,3,4,5]
    ,'Name' : ['Alex2','Amy2','Allen2','Alice2','Ayoung2']
    , 'subject_id' : ['sub2', 'sub4', 'sub3', 'sub6' ,'sub5']
})
print( "\n" , right )

print("\n#######################Merge########################")
m1 = pd.merge(left,right, on='id')
m2 = pd.merge(left,right, on=['id','subject_id'])
print("\n [m1] \n", m1)
print("\n [m2] \n", m2)

m3 = pd.merge(left,right, on=['id','subject_id'], how = "left")
print("\n [m3:left outer] \n: left outer join", m3)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5

    id     Name subject_id
0   1    Alex2       sub2
1   2     Amy2       sub4
2   3   Allen2       sub3
3   4   Alice2       sub6
4   5  Ayoung2       sub5

#######################Merge########################

 [m1]
    id  Name_x subject_id_x   Name_y subject_id_y
0   1    Alex         sub1    Alex2         sub2
1   2     Amy         sub2     Amy2         sub4
2   3   Allen         sub4   Allen2         sub3
3   4   Alice         sub6   Alice2         sub6
4   5  Ayoung         sub5  Ayoung2         sub5

 [m2]
    id  Name_x subject_id   Name_y
0   4   Alice       sub6   Alice2
1   5  Ayoung       sub5  Ayoung2

 [m3:left outer]
: left outer join    id  Name_x subject_id   Name_y
0   1    Alex       sub1      NaN
1   2     Amy       sub2      NaN
2   3   Allen       sub4      NaN
3   4   Alice       sub6   Alice2
4   5  Ayoung       sub5  Ayoung2

In [41]:
#
print("\n#######################Merge_suffixes : 컬럼명 변경########################")
m4 = pd.merge(left,right, on='id',suffixes=('_left','_right'))
print("\n [m4] \n", m1) #엥 =안돼..

print(pd.merge(left,right, on='id',suffixes=('_left','_right')))

#######################Merge_suffixes : 컬럼명 변경########################

 [m4]
    id  Name_x subject_id_x   Name_y subject_id_y
0   1    Alex         sub1    Alex2         sub2
1   2     Amy         sub2     Amy2         sub4
2   3   Allen         sub4   Allen2         sub3
3   4   Alice         sub6   Alice2         sub6
4   5  Ayoung         sub5  Ayoung2         sub5
   id Name_left subject_id_left Name_right subject_id_right
0   1      Alex            sub1      Alex2             sub2
1   2       Amy            sub2       Amy2             sub4
2   3     Allen            sub4     Allen2             sub3
3   4     Alice            sub6     Alice2             sub6
4   5    Ayoung            sub5    Ayoung2             sub5